.delete-btn {
  width: 20px;
  height: 20px;
  background: no-repeat url('./images/icons8-trash.svg');
  background-size: contain;
}

.border-bottom-grey {
  border-bottom: 1px #ddd solid;
}

.bg-grey {
  background-color: #eee;
}

.completed {
  color: #999;
  text-decoration: line-through;
}

.delete-btn {
  cursor: pointer;
}

.flex-grow {
  flex-grow: 1;
}
